<div class="contact-partners-text"><div class="row"><div class="col-sm-5">{{ 'contact.partners.franchise'|trans }}</div>
<div class="col-sm-3 col-md-4 red">+38 (097) 061-65-49</div><div class="col-sm-4 col-md-3">o.suksina@waithai.ua</div></div>
{% if pageData.template != 'franchise' %}
<div class="row"><div class="col-sm-5">{{ 'contact.partners.ad'|trans }}</div><div class="col-sm-3 col-md-4 red"></div><div class="col-sm-4 col-md-3"></div></div>
{% endif %}
</div>