<div class="content-block wait-for-you-block"><div class="container">
<div class="block-title">{{ 'wait.for.you.title'|trans|raw }}</div>
<button type="button" class="order_btn" data-toggle="modal" data-target="#order-form">{{ 'order.btn'|trans }}</button>
</div><div class="gradient"></div></div>